{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <title>HastAkshar | Profile</title>

    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/profile.css'%}">

    <script src="https://smtpjs.com/v3/smtp.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
{% if user.is_authenticated %}

<body style="background-image: url('../static/images/wall.jpg');background-position: center; background-size: cover; background-repeat:no-repeat">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <ul class="navbar-nav navbar-left">
                <li><a>
                        <img src="{%static 'images/logo.jpg'%}" width="40" style="border-radius: 50%">
                    </a></li>
                <li class="nav-item"><a class="navbar-brand" href="/" style="margin-left: 10px;">&nbsp;<b>Home</b></a>
                </li>
                <li class="nav-item"><a class="navbar-brand" href="#" style="margin-left: 73px;">
                        <div id="clockbox"></div>
                    </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-link"><a style="color: white; margin-right:20px;" href="../view_profile/">नमस्ते,
                        <i><b>{{user.username}}</b></i></a></li>
                <li class="nav-item"><a class="btn btn-outline-primary " style="border-radius: 100px;"
                        href="/logout/">Logout&nbsp;<i class="fa fa-sign-out" style="font-size:18px;"></i></a></li>
            </ul>
        </div>
    </nav>
    <div class="container d-flex justify-content-center" style="padding: 10px;">
        <div class="text-center">
            <img src="{{user.user.profile_picture.url}}" width="250px" height="250px" class="rounded-circle"
                style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); object-fit: cover">
            <h3 class="mt-2">{{ user.first_name }} {{ user.last_name }}</h3>
            <span class="mt-1 clearfix">{{ user.email }} <i class="fa fa-check-circle"
                    style="font-size:15px;color:green"></i></span>
            <br><br><br>
            <button type="button" style="border-radius: 100px;"   class="btn btn-success custom-btn" data-toggle="modal" data-target="#myModal">
                Update Profile Picture</button>
            <button type="button" style="border-radius: 100px;" class="btn btn-success custom-btn" data-toggle="modal" onclick="sendEmail()"
                data-target="#myModal2">Update Password</button>
            <button type="button" style="border-radius: 100px;" class="btn btn-success custom-btn" data-toggle="modal" data-target="#myModal3">
                Update Email Address</button>
                <br><br><br><br>    
        </div>
    </div>

    <!-- Modal for Update Profile Picture -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Profile Picture</h5>
                </div>
                <div class="modal-body">
                    <form action="update_profile_pic_submit/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="profile_picture" accept="image/*"
                            class="clearablefileinput form-control-file" required id="id_profile_picture">

                        <button type="submit" class="btn btn-success m-3"
                            style="float: right; display: inline; border-radius: 100px;">Change Picture</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Reset Password -->
    <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Password</h5>
                </div>
                <div class="modal-body">
                    <form action="reset_password_submit/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" id="id_username" value="{{user.username}}" readonly disabled>

                        <input type="hidden" name="otp1" id="otp1">

                        <div id="div_id_otp" class="form-group">
                            <label for="otp2" class=" requiredField">
                                Enter OTP
                                <span class="asteriskField">*</span>
                            </label>
                            <div class="">
                                <input type="password" name="otp2" minlength="5" maxlength="5"
                                    class="textinput textInput form-control" required id="otp2">
                            </div>
                            <div>
                                <ul class="text-danger messages">
                                    <li id="otp-error-1" style="display: none;">OTP cannot be blank</li>
                                    <li id="otp-error-2" style="display: none;">OTP doesn't match</li>
                                </ul>
                            </div>
                        </div>

                        <input type="button" class="btn btn-success" value="Verify OTP" onclick="enterPassword()"
                            id="submit_button" disabled style="border-radius: 100px; margin-top: 5px;" />

                        <div id="div_id_password1" class="form-group" style="display: none;">
                            <label for="id_password1" class=" requiredField">
                                Password
                                <span class="asteriskField">*</span>
                            </label>
                            <div class="">
                                <input type="password" name="password1" maxlength="25"
                                    class="textinput textInput form-control" required id="id_password1">
                            </div>

                            <div>
                                <ul class="text-danger messages">
                                    <li id="password-error-1" style="display: none;">Password cannot be blank</li>
                                    <li id="password-error-2" style="display: none;">New Password cannot be the same as
                                        previous password!</li>
                                </ul>
                                <ul class="text-primary messages">
                                    <li id="password-error-3">Password should contain atleast one upper Case alphabet
                                    </li>
                                    <li id="password-error-4">Password should contain atleast one lower Case alphabet
                                    </li>
                                    <li id="password-error-5">Password should contain atleast one digit</li>
                                    <li id="password-error-6">Password should contain atleast one special character</li>
                                    <li id="password-error-7">Password should contain atleast six characters</li>
                                </ul>
                            </div>
                        </div>

                        <div id="div_id_password2" class="form-group" style="display: none;">
                            <label for="id_password2" class=" requiredField">
                                Confirm Password
                                <span class="asteriskField">*</span>
                            </label>
                            <div class="">
                                <input type="password" name="password2" maxlength="25"
                                    class="textinput textInput form-control" required id="id_password2">
                            </div>
                            <div>
                                <ul class="text-danger messages">
                                    <li id="password2-error-1" style="display: none;">Confirm Password cannot be blank
                                    </li>
                                    <li id="password2-error-2" style="display: none;">Passwords don't match</li>
                                </ul>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success" id="submit" disabled
                            style="display:none; border-radius: 100px; margin-top: 5px;">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Update Email -->
    <div class="modal fade" id="myModal3" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Email</h5>
                </div>
                <div class="modal-body">
                    <form action="update_email_submit/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" id="username" value="{{user.username}}" name="username">

                        <div id="div_id_email" class="form-group">
                            <label for="id_email" class=" requiredField">
                                Email Address
                                <span class="asteriskField">*</span>
                            </label>
                            <div class="">
                                <input type="email" name="email" maxlength="50" class="emailinput form-control" required
                                    id="id_email">
                            </div>
                            <div>
                                <ul class="text-danger messages">
                                    <li id="email-error-1" style="display:none;">Email cannot be blank</li>
                                    <li id="email-error-2" style="display:none">Invalid Email</li>
                                    <li id="email-error-3" style="display:none">New Email cannot be the same as
                                        previous email!</li>
                                </ul>
                            </div>
                        </div>

                        <input type="button" class="btn btn-success" value="Verify Email" onclick="verifyEmail()" id="otp_button"
                        style="border-radius: 100px; margin-top: 5px;" disabled/>

                        <input type="hidden" name="otp1_1" id="otp1_1">

                    <div id="div_id_otp_1" class="form-group" style="display: none;">
                        <label for="otp2_1" class=" requiredField">
                            Enter OTP
                            <span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <input type="password" name="otp2_1" minlength="5" maxlength="5"
                                class="textinput textInput form-control" required id="otp2_1">
                        </div>
                        <div>
                            <ul class="text-danger messages">
                                <li id="otp-1-error-1" style="display: none;">OTP cannot be blank</li>
                                <li id="otp-1-error-2" style="display: none;">OTP doesn't match</li>
                            </ul>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success m-3"
                            style="float: right; display: none" id="submit_1" disabled>Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{%static 'js/time.js'%}"></script>
    <script type="text/javascript" src="{%static 'js/common.js'%}"></script>
    <script type="text/javascript" src="{%static 'js/forgot.js'%}"></script>
    <script type="text/javascript" src="{%static 'validation/forgot.js'%}"></script>
    <script type="text/javascript" src="{%static 'js/profile.js'%}"></script>
    <script type="text/javascript" src="{%static 'validation/profile.js'%}"></script>
    {% else %}

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <ul class="navbar-nav navbar-left">
                    <li><a>
                            <img src="{%static 'images/logo.jpg'%}" width="40" style="border-radius: 50%">
                        </a></li>
                    <li class="nav-item"><a class="navbar-brand" href="/"
                            style="margin-left: 10px;">&nbsp;<b><i>HastAkshar</i></b></a></li>
                </ul>

            </div>
        </nav>
        <br>
        <p style="text-align:center; color: red">Login error! Kindly <a href="/login/">Login</a> first, to continue!
        </p>
        {% endif %}

        <footer>
            <p>Made with &#128151 by <i>Team HastAkshar</i></p>
        </footer>
    </body>

</html>