asgiref==3.3.1
bidict==0.21.2
Django==3.1.5
django-crispy-forms==1.10.0
dnspython==1.16.0
enum-compat==0.0.3
eventlet==0.25.2
greenlet==0.4.16
monotonic==1.5
Pillow==8.1.0
psycopg2==2.8.6
python-engineio==4.0.0
python-rapidjson==1.0
python-socketio==5.0.4
pytz==2020.5
six==1.15.0
sqlparse==0.4.1
uuid==1.30
validate-email==1.3