<html> 
  
<head> 
  <title>Send Mail</title> 
  <script src= 
    "https://smtpjs.com/v3/smtp.js"> 
  </script> 
  
  <script type="text/javascript"> 
    function sendEmail() { 
      Email.send({ 
        Host: "smtp.gmail.com", 
        Username: "{{from_mail}}", 
        Password: "{{password}}", 
        To: '{{to_mail}}', 
        From: "{{from_mail}}", 
        Subject: "{{subject}}", 
        Body: "{{message}}", 
      }) 
        .then(function (message) { 
          alert("mail sent successfully") 
        }); 
    } 
  </script> 
</head> 
  
<body> 
  <form method="post"> 
    <input type="button" value="Send Email" 
        onclick="sendEmail()" /> 
  </form> 
</body> 
  
</html> 