{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Account Registration</title>
    
    <script src="https://smtpjs.com/v3/smtp.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/styles.css'%}" />
</head>

<body>
    <!-- Page content -->
    <div class="main">
        <div class="row justify-content-center">
            <div class="col-8">
                
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <form method="POST" action="../register_submit" class="form-group" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div id="div_id_first_name" class="form-group">
                        <label for="id_first_name" class=" requiredField">
                            First Name
                            <span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <input type="text" name="first_name" maxlength="25" class="textinput textInput form-control"
                                required id="id_first_name">
                        </div>
                    </div>

                    <div id="div_id_last_name" class="form-group">
                        <label for="id_last_name" class=" requiredField">
                            Last Name
                            <span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <input type="text" name="last_name" maxlength="25" class="textinput textInput form-control"
                                required id="id_last_name">
                        </div>
                    </div>

                    <div id="div_id_email" class="form-group">
                        <label for="id_email" class=" requiredField">
                            Email Address
                            <span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <input type="email" name="email" maxlength="50" class="emailinput form-control" required
                                id="id_email">
                        </div>
                    </div>

                    <div id="div_id_username" class="form-group">
                        <label for="id_username" class=" requiredField">
                            Username
                            <span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <input type="text" name="username" maxlength="25" class="textinput textInput form-control"
                                required id="id_username">
                        </div>                        
                        <p class="text-danger" id="username-error-1" style="display:none">User Name already exists</p>
                    </div>
                    
                    <div id="div_id_password1" class="form-group">
                        <label for="id_password1" class=" requiredField">
                            Password
                            <span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <input type="password" name="password1" maxlength="25"
                                class="textinput textInput form-control" required id="id_password1">
                        </div>
                    </div>

                    <div id="div_id_password2" class="form-group">
                        <label for="id_password2" class=" requiredField">
                            Confirm Password
                            <span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <input type="password" name="password2" maxlength="25"
                                class="textinput textInput form-control" required id="id_password2">
                        </div>
                    </div>

                    <div id="div_id_profile_picture" class="form-group">
                        <label for="id_profile_picture">
                            Profile picture
                        </label>
                        <div class="">
                            <input type="file" name="profile_picture" accept="image/*"
                                class="clearablefileinput form-control-file" id="id_profile_picture">
                        </div>
                    </div>

                    <input type="hidden" name="otp1" id="otp1">

                    <div id="div_id_otp" class="form-group">
                        <label for="otp2" class=" requiredField">
                            Enter OTP
                            <span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <input type="password" name="otp2" minlength="5" maxlength="5"
                                class="textinput textInput form-control" required id="otp2">
                        </div>
                    </div>
                    
                    <input type="button" class="btn btn-info" value="Verify Email" onclick="sendEmail()" id="otp_button" />
                    <button type="submit" class="btn btn-success" id="submit">Register</button>
                </form>

                <footer>
                    <p>Already have a HastAkshar account? <a href="/login/">Login instead</a>!</p>
                </footer>

            </div>
        </div>
    </div>

    <script type="text/javascript" src="{%static 'js/register.js'%}"></script>
</body>

</html>