.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
/* .sender and .receiver */
.content {
  width: 500px;
  height: 370px;
  padding: 20px;
}
/* .sender */
.content video {
  width: 100%;
  height: 100%;
  display: flex;
}

.content .overlay {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d4cecd;
}

.content img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 5px;
}

.footer {
  position: fixed;
  bottom: 0px;
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
}

#add_user {
  position: absolute;
  left: 20px;
  bottom: 16px;
  border-radius: 100px;
}

#audio {
  position: absolute;
  left: 42%;
  bottom: 16px;
  border-radius: 100px;
}

#leave_room {
  position: absolute;
  left: 48%;
  bottom: 16px;
  border-radius: 100px;
}

#video {
  position: absolute;
  left: 54%;
  bottom: 16px;
  border-radius: 100px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 80%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 20%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}