.content {
  width: 100%;
  height: 100%;
  z-index: 1;
}

body {
  height: 100vh;
  overflow-y: hidden;
}

.content video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: flex;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  z-index: 2;
}

.content .overlay {
  display: none;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #000000;
  z-index: 2;
}

.content img {
  object-fit: cover;
  border-radius: 50%;
  padding: 5px;
  z-index: 2;
}

#send_msg{
  border: 1px solid #ced4da
}

#sender-video {
  width: 100%;
  min-height: 40%;
  max-height: 40%;
}

#reciever-video {
  width: 70%;
  height: 95%;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
}

.sent_msg {
  background-color: #188efd;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: right;
  padding: 10px;
  margin-top: 10px;
  margin-right: 5px;
  max-width: 60%;
  align-self: flex-end;
  overflow-wrap: break-word;
}

.recieved_msg {
  background-color: #e5e5ea;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  text-align: left;
  padding: 10px;
  margin-top: 10px;
  margin-left: 5px;
  max-width: 60%;
  align-self: flex-start;
  overflow-wrap: break-word;
}

#add_user {
  position: absolute;
  /* left: 20px; */
  bottom: 16px;
  border-radius: 100px;
}

#audio {
  position: absolute;
  left: 40%;
  bottom: 16px;
  border-radius: 100px;
}

#leave_room {
  position: absolute;
  left: 48%;
  bottom: 16px;
  border-radius: 100px;
}

#video {
  position: absolute;
  left: 56%;
  bottom: 16px;
  border-radius: 100px;
}

.footer {
  position: fixed;
  bottom: 0px;
  display: flex;
  align-items: center;
  height: 10vh;
  width: 100%;
}

#isl{
  position: absolute;
  right: 0;
  display: none;
}

.overlayText{
  position: relative;
  width: 100%;
  top: 0;
  display: none;
  color: black;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-color: #6c757d;
  margin: 0;
  opacity: 0.8;
  border-radius: 10px;
}