.content {
    width: 500px;
    height: 370px;
    padding: 20px;
}

.content video {
    width: 100%;
    height: 100%;
    display: flex;
}

.content .overlay{
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D4CECD;
}

.content img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 5px;
  }

/* Causes problems to model */
/* #footer{
    position: fixed; 
    bottom:0px; 
    display:flex;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: rgb(230, 230, 230);
} */

#add_user {
    position: absolute;
    left: 20px;
    bottom: 16px;
    border-radius: 100px;    
  }

#audio {
    position: absolute;
    left: 42%;
    bottom: 16px;
    border-radius: 100px;
  }

#leave_room {
    position: absolute;
    left: 48%;
    bottom: 16px;
    border-radius: 100px;
  }
  
#video {
    position: absolute;
    left: 54%;
    bottom: 16px;
    border-radius: 100px;
  }