.content {
  position: absolute;
  left: 240px;
  width: 500px;
  height: 370px;
  padding: 20px;
}

.content video {
  width: 100%;
  height: 100%;
  display: flex;
}

.content .overlay {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6673a0;
}

.content img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 5px;
}

.content p {
  margin-top: 5px;
  font-style: bold;
  color: white;
}

h4 {
  position: absolute;
  right: 280px;
  padding-bottom: 15px;
}

#audio {
  position: absolute;
  right: 430px;
  border-radius: 100px;
}

#video {
  position: absolute;
  right: 320px;
  border-radius: 100px;
}

#join {
  position: absolute;
  right: 345px;
  border-radius: 100px;
}