{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Preferences</title>

    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.min.js"></script>

    <link rel="stylesheet" href="{%static 'css/user_preferences.css'%}">
</head>

<body>
    {% if user.is_authenticated %}
    <h2>Set Preferences</h2>
    <div id="myVideo" class="content">
        <div class="overlay">
            <img src="{{user.user.profile_picture.url}}">
            <p>{{user.first_name}} {{user.last_name}}</p>
        </div>
    </div>

    <div class="container">
        <button id="audio">
            Audio
        </button>

        <button id="video">
            Video
        </button>

        <input type="hidden" name="roomId" value="{{roomId}}" id="roomId">

        <button id="join">
            Join Room
        </button>
    </div>

    <script type="text/javascript" src="{%static 'js/user_preferences.js'%}"></script>
    {% else %}
    <a class="btn" href="/login/?next=/join/user-preferences">Login</a>
    <p style="text-align:center; color: red">Login error! Kindly Login first, to continue!</p>
    {% endif %}
</body>

</html>